.nav {
  grid-area: n;
  box-shadow: 0 0 10px #e1e1e1;
  background-image: none;
  background-color: #f6f6f5;
  padding: 20px;
}

.item {
  color: black;
  text-decoration: none; 
}

.active {
  color: #42a5f5;
  text-decoration: none;
}