.nav {
  grid-area: n;
  /* box-shadow: 0 0 10px #e1e1e1; */
  background-image: none;

  
}

/* .item {
  color: black;
  text-decoration: none;

}

.item:hover {
  color: orange;


}

.active {
  color: orange;
  text-decoration: none;

} */