.app-wrapper {
  display: grid;
  grid-template-rows: 50px 1fr 80px;
  /* 3 рядя */
  grid-template-columns: 100px 5fr 1fr;
  /* 2 колонки */

  grid-gap: 2vw;
  height: 100vh;
  
  grid-template-areas:
    "h h h"
    "n c t"
    "f f f"
}

.app-wrapper-content {
  .content {
    grid-area: c;
  }

  box-shadow: 0 0 10px #e1e1e1;
  background-image: none;
  background-color: #f6f6f5;
}

.table {
  grid-area: t;

  box-shadow: 0 0 10px #e1e1e1;
  background-image: none;
  background-color: #f6f6f5;
  
}