.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    

}

.dialogsItems {
    padding: 10px;
    text-decoration: none;
    color: black;}

.active {
    color: #42a5f5;
    text-decoration: none;

    
}

.dialog{
    color: black;
    text-decoration: none;
}

.messages {
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

